.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.banner .banner-wrap {
    background-color: #808080;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.banner .banner-wrap .banner__img img {
    width: 100%
}

.banner .banner-wrap .banner-title {
    color: #fff
}

.rightly {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rightly .rightly-wrap {
    padding: 15px 15px;
    border-radius: 15px;
    background-color: #B00000
}

.rightly .rightly-wrap .rightly-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    padding: 30px
}

.rightly .rightly-wrap .rightly__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem
}

.rightly .rightly-wrap .rightly__blocks .rightly__block {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: calc(50% - 1rem)
}

@media screen and (max-width: 767px) {
    .rightly {
        padding: 20px 0
    }

    .rightly .rightly-wrap {
        padding: 15px 0;
        background-color: #B00000
    }

    .rightly .rightly-wrap .rightly-title {
        padding: 20px
    }

    .rightly .rightly-wrap .rightly__blocks {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 2rem
    }

    .rightly .rightly-wrap .rightly__blocks .rightly__block {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        width: 100%
    }
}

.logo{
    max-width: 200px;
}

.menu_dropdown > li > a{
    background: #808080!important;
}

/*.main__tabs_wrapper{*/
/*    background-image: url("/wp-content/themes/deliverychina/img/OSIETK01231.jpg");*/
/*}*/
.main__tabs_wrapper{
    position: relative;
    background-color:transparent;
    z-index: 1;
}
.main__tabs_wrapper::before {
    content: "";
    background-image: url("/wp-content/themes/deliverychina/img/OSIETK01231.jpg");
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}
.tab_content ul li span{
    opacity: 0.8;
}
.tab_content ul li span:hover{
    color:red;
    opacity: 1;
    transform: scale(1.6);
}
.main_our__advantages {

     padding-bottom: 80px;
}
.mob_menu__button{
    cursor: pointer;
}